<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seekreal.knowask.Mapper.QuestionMapper">
    <!--    新增用户-->
    <insert id="insertQuestion">
        insert into Question (
        question_id
        ,user_id
        ,question_title
        ,question_description
        ) values(
        #{questionId}
        ,#{userId}
        ,#{questionTitle}
        ,#{questionDescription})
    </insert>

    <!--    添加图片地址于Mysql-->
    <update id="updateQuestionImage">
        update Question set image_adder_list=#{adder}
        where user_id=#{userId} and question_id=#{questionId} and image_adder_list='[]' and is_exist=1
    </update>

    <!--    获取文章的图片地址-->
    <select id="getQuestionImage" resultType="java.lang.String">
        select image_adder_list from Question where user_id=#{userId}
        and question_id=#{questionId} and is_exist=1
    </select>

    <!--    删除某篇存在的文章-->
    <update id="deleteQuestion">
        update Question set is_exist=0 where user_id=#{userId} and question_id=#{questionId} and is_exist=1
    </update>
</mapper>