<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seekreal.knowask.Mapper.QuestionMapper">
    <!--    新增用户-->
    <insert id="insertQuestion">
        insert into Question (
        question_id
        ,user_id
        ,question_title
        ,question_description
        ) values(
        #{questionId}
        ,#{userId}
        ,#{questionTitle}
        ,#{questionDescription})
    </insert>
    <!--    除了密码和权限全部获取-->
    <update id="updateQuestionImage">
        update Question set image_adder_list=#{adder}
        where user_id=#{userId} and question_id=#{questionId} and image_adder_list='[]'
    </update>
    <!--    除了密码和权限全部获取-->
    <select id="loginUserByPassword" resultType="pojo.User.User">
        select
        user_id,
        username,
        personal_signature,
        header_image_adder,
        sex,
        birthday,
        phone_number,
        follower_amount,
        liker_amount,
        writing_amount,
        like_amount,
        collect_amount,
        create_time
        from User where phone_number=#{phoneNumber} and password=#{password}
    </select>
</mapper>