<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seekreal.comment.Mapper.FirstCommentMapper">
    <!--    新增用户-->
    <insert id="insertFirstComment">
        insert into First_Comment (
        first_comment_id
        ,writing_id
        ,user_id
        ,text
        ,image_adder
        ) values(
        #{firstCommentId}
        ,#{writingId}
        ,#{userId}
        ,#{text}
        ,#{imageAdder}
        )
    </insert>

    <!--    获取提问的图片地址-->
    <select id="getFirstComment" resultType="pojo.Comment.FirstComment">
        select
        first_comment_id
        ,user_id
        ,writing_id
        ,text
        ,image_adder
        ,second_comment_amount
        ,like_amount
        ,create_time
        ,is_exist
        from First_Comment where writing_id=#{writingId} and is_exist=1 order by like_amount limit #{from},#{need}
    </select>

    <!--    删除某篇存在的提问-->
    <update id="deleteQuestion">
        update Question set is_exist=0 where user_id=#{userId} and question_id=#{questionId} and is_exist=1
    </update>




</mapper>