<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seekreal.comment.Mapper.SecondCommentMapper">
    <!--    新增用户-->
    <insert id="insertSecondComment">
        insert into Second_Comment (
        second_comment_id
        ,user_id
        ,first_comment_id
        ,text
        ,respond_username
        ) values(
        #{secondCommentId}
        ,#{userId}
        ,#{firstCommentId}
        ,#{text}
        ,#{respondUsername}
        )
    </insert>


    <!--    获取提问的详细内容-->
    <select id="getSecondComment" resultType="pojo.Comment.SecondComment">
        select
        second_comment_id
        ,user_id
        ,first_comment_id
        ,text
        ,respond_username
        ,like_amount
        ,create_time
        ,is_exist
        from Second_Comment where first_comment_id=#{firstCommentId} and is_exist=1 order by like_amount
        limit #{from},#{need}
    </select>




</mapper>